{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
    .map-container div {
        width : 100%;
    }
</style>

<div class="map-container mb-3" style="align:center; display:flex;">
    <div id="map" style="width:70rem; height:30rem; border-radius:2rem; margin:5rem auto"></div>
</div>


<script>

var mapOptions = {
<!--    center: new naver.maps.LatLng(37.3595704, 127.105399),-->
    zoom: 16
};

var map = new naver.maps.Map('map', mapOptions);

</script>

{% endblock %}

