{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}

<div style="max-width:300px; margin:3rem auto;">
    <div style="text-align:center;">
        <h2></h2>
    </div>
    <div style="margin:1rem auto;">
        <form action="{% url 'article:create' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form %}
            <button type="submit" class="btn btn-outline-primary col-12 mt-3">게시글 작성</button>
        </form>
    </div>
</div>

{% endblock %}