{% extends 'base.html' %}
{% block content %}

<div>
    <div style="text-align:center; max-width:300px; margin:4rem auto;">
        <h5>
            <a href="{% url 'account:detail' pk=target_article.writer.pk %}">{{ target_article.writer.profile.nickname }}</a>
        </h5>
        <hr>
        <img src="{{ target_article.image.url }}" style="width:100%; border-radius: 8px;">
        <p style="margin:1rem auto;">
            {{ target_article.content }}
        </p>

    {% if target_article.writer == request.user %}
        <div style="text-align:center">
            <a href="{% url 'article:update' pk=target_article.pk %}" class="btn btn-primary col-12 mt-2 mb-2">Edit</a>
        </div>
        <div style="text-align:center">
            <a href="{% url 'article:delete' pk=target_article.pk %}" class="btn btn-danger col-12 mt-2 mb-2">Delete</a>
        </div>
    {% endif %}
        <hr>
    </div>
</div>

{% endblock %}