{% extends 'base.html' %}
{% block content %}

<div>
    <div style="max-width:350px; margin:2rem auto;">
        {% if target_article.shop %}
        <h2 style="text-align:center;">
            <a href="{% url 'shop:detail' pk=target_article.shop.pk %}">{{ target_article.shop.name }}</a>
        </h2>
        {% else %}
        <h2 style="text-align:center;">
            Where is this place?
        </h2>
        {% endif %}
        <hr>

        <img src="{{ target_article.image.url }}" style="width:100%; border-radius:8px; margin:1rem auto;">

        <a href="{% url 'account:detail' pk=target_article.writer.pk %}">
            <strong style="">{{ target_article.writer.profile.nickname }}</strong>
        </a>
        <p style="margin:1rem auto;">
            {{ target_article.content }}
        </p>



    {% if target_article.writer == request.user %}
        <div style="text-align:center">
            <a href="{% url 'article:update' pk=target_article.pk %}" class="btn btn-primary col-12 mt-2 mb-2">Edit</a>
        </div>
        <div style="text-align:center">
            <a href="{% url 'article:delete' pk=target_article.pk %}" class="btn btn-danger col-12 mt-2 mb-2">Delete</a>
        </div>
    {% endif %}
        <hr>
        {% for comment in target_article.comment.all %}
            {% include 'comment/detail.html' with comment=comment %}
        {% endfor %}

        {% include 'comment/create.html' with article=target_article %}
    </div>
</div>

{% endblock %}