{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}

<div style="max-width:300px; margin:3rem auto;">
    <div style="text-align:center;">
        <h2>Create Profile</h2>
    </div>
    <div style="margin:1rem auto;">
        <form action="{% url 'profile:create' %}" method="post", enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form %}
            <input type="submit" class="btn btn-primary col-12 mt-3" value="Create">
        </form>
    </div>
</div>

{% endblock %}