
{% load bootstrap4 %}
{% block content %}

<div style="text-align:center; max-width:300px; margin:2rem auto;">
    <form action="{% url 'comment:create' %}" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}

        {% if user.is_authenticated %}
        <button type="submit" class="btn btn-outline-primary col-12 mt-2 mb-2" >작성</button>
        {% else %}
        <button type="submit" class="btn btn-primary col-12 mt-2 mb-2 disabled">로그인이 필요합니다.</button>
        {% endif %}
        <input type="hidden" name="article_pk" value="{{ article.pk }}">
    </form>
</div>

{% endblock %}