
{% load bootstrap4 %}
{% block content %}

<div style="text-align:center; max-width:300px; margin:2rem auto;">
    <form action="{% url 'comment:create' %}" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}

        {% if user.is_authenticated %}
        <input type="submit" class="btn btn-primary col-12 mt-2 mb-2" value="comment">
        {% else %}
        <input type="submit" class="btn btn-primary col-12 mt-2 mb-2 disabled" value="Need to log in">
        {% endif %}
        <input type="hidden" name="article_pk" value="{{ article.pk }}">
    </form>
</div>

{% endblock %}