
<div style="border:1px solid; border-radius:8px; border-color:#bbb; text-align:left; padding:2%; margin:0.5rem 0;">
    <div>
        {{ comment.content }}
    </div>
    <div class="d-flex justify-content-end">

        <div class="badge badge-black p-2 text-left" style="color:black;">
            <div class="mb-2">{{ comment.writer }}</div>
            <div>{{ comment.created_at }}</div>
        </div>

    </div>

    {% if comment.writer == request.user %}
    <div style="text-align:right;">
        <form action="{% url 'comment:delete' pk=comment.pk %}" method="post">
            {% csrf_token %}
            <input type="submit" class="btn btn-danger mt-1" value="Delete">
        </form>
    </div>
    {% endif %}
</div>