.footer_logo{
    font-family: 'Faster One', cursive;
}

.footer_layer{
    text-align:center;
    margin:2rem 0
}

.footer_button{
    font-size:0.6rem;
}

.header_layer{
    text-align:center;
    margin:2rem 0;
}

.header_logo{
    font-family: 'Faster One', cursive;
}