{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>

    .container div {
      width: 280px;
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
    }
    .container img {
        width = 100%;
        height = 100%;
    }

</style>

<div>
    <div style="text-align:center;max-width: 300px;margin: 4rem auto;">
        {% if target_user.profile %}
            <a href="{% url 'profile:update' pk=target_user.profile.pk %}" style="font-size:1rem">
                <img src="{{ target_user.profile.image.url }}" alt="" style="height:10rem; width:10rem; border-radius:10rem;margin-bottom:1rem">
            </a>

            <h2 style="margin-bottom:1rem">
                {{ target_user.profile.nickname }}
            </h2>


            <h5>{{ target_user.profile.message }}</h5>
            {% if target_user == user %}

                <a href="{% url 'account:update' pk=user.pk %}" class="btn btn-primary col-12 mt-3" >
                    Forgot Password
                </a>
                <a href="{% url 'account:delete' pk=user.pk %}" class="btn btn-danger col-12 mt-3">
                    Delete Account
                </a>

            {% endif %}
        {% else %}
            {% if target_user == user %}
            <a href="{% url 'profile:create' %}">
                <h2>Create Profile</h2>
            </a>
            {% else %}
            <h4>No Profile</h4>
            {% endif %}
        {% endif %}

    </div>

</div>

<div class="container" >
    {% if target_user.article %}
        {% for article in target_user.article.all %}
        <div class="item">
            <img src=" {{ article.image.url }}">
        </div>
        {% endfor %}
    {% endif %}
</div>

<script src="{% static 'js/magicgrid.js' %}"></script>

{% endblock %}