{% extends 'base.html' %}
{% load static %}
{% block content %}

<div>
    <div style="max-width:300px; margin: 3rem auto;">
        {% if target_user.profile %}

            <div style="text-align:center;">
                <img src="{{ target_user.profile.image.url }}" alt="" style="height:10rem; width:10rem; border-radius:10rem;margin-bottom:1rem">
                <h2 style="margin-bottom:1rem">
                    {{ target_user.profile.nickname }}
                </h2>
                <h5>{{ target_user.profile.message }}</h5>
            </div>

            {% if target_user == user %}
                <div style="text-align:center; margin:1rem auto;">
                    <a href="{% url 'article:create' %}" class="material-icons">
                        insert_photo
                    </a>
                    <a href="{% url 'profile:update' pk=target_user.profile.pk %}" class="material-icons">
                        person
                    </a>
                    <a href="{% url 'shop:create' %}" class="material-icons">
                        store
                    </a>
                    <a href="{% url 'account:update' pk=user.pk %}" class="material-icons" >
                        lock
                    </a>
                    <a href="{% url 'account:delete' pk=user.pk %}" class="material-icons">
                        delete
                    </a>
                </div>
            {% else %}
                {% if user.is_authenticated %}
                    <div style="text-align:center;">
                    {% if not subscription %}
                        <a href="{% url 'subscription:follow' %}?target_user_pk={{ target_user.pk }}" class="btn btn-primary ">
                            Follow
                        </a>
                    {% else %}
                        <a href="{% url 'subscription:follow' %}?target_user_pk={{ target_user.pk }}" class="btn btn-primary ">
                            Unfollow
                        </a>
                    {% endif %}
                    </div>
                {% endif %}
            {% endif %}


        {% else %}

            {% if target_user == user %}
                <div style="text-align:center;">
                    <a href="{% url 'profile:create' %}">
                        <h2>Create Profile</h2>
                    </a>
                </div>
            {% else %}
                <h2>No Profile</h2>
            {% endif %}

        {% endif %}
    <hr>
    </div>

</div>

<div>
    {% include 'snippets/list_fragment.html' with article_list=object_list %}
</div>

{% endblock %}