{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>

    .container div {
      width: 8rem;
      height: 2rem;
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
    }

</style>

    {% if shop_list %}
        <div class="container" >
            {% for shop in shop_list %}
              <a href="{% url 'shop:detail' pk=shop.pk %}">
                  {% include 'snippets/card_shop.html' with shop=shop %}
              </a>
            {% endfor %}
        </div>
    {% else %}
        <div style="text-align:center;">
            <h2>No Shops Yet!</h2>
        </div>
    {% endif %}

<script src="{% static 'js/magicgrid.js' %}"></script>


{% endblock %}